@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400&display=swap');

body{
  font-family: 'Noto Sans KR', sans-serif;
}

.logo_area img{
  width: 80%;
  height: 70%;
}

.nav_area
{
  font-family: 'Noto Sans KR', sans-serif;
}

.nav_area .link
{
  font-family: 'Noto Sans KR', sans-serif;
  color: #1d1f28;
  text-decoration: none;
  font-size: 14px;
  height: 100%;
  font-weight: 600;
  margin-right: 30px;
}

.accordion-body input
{
  font-size: 12px;
}

.accordion-body .form-label
{
  font-size: 16px;
}

.accordion-button 
{
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}


.title{
  font-family: 'Average Sans', sans-serif;
  font-weight: bold;
}

#root{
  font-family: 'Roboto', sans-serif;
}

#fgkey{
  margin-left: 1%;
  size: 100px;
  color: coral;
  font-weight: 600;
  font-size: 14px;
  margin-top: 4%;
  margin-bottom: 4%;
}

.main b{
  color: red;
}

.header{
  display: flex;
  color : white;
  margin-left: 30px;
  height: 60px;
  border-bottom: 0.8px solid #c5c3c3;
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
  white-space: nowrap;
}

.header div{
  display: inline;
  margin-top: 1%;
}
.nav_area
{
  margin-top: 0%;
}

.left{
  width: 250px;
  height: 3000px;
  float: left;
  border-right: 0.8px solid #c5c3c3;
}

.form{
  padding-left: 3%;
  width: 30%;
  float: left;
}

.preview{
  margin-top: 6%;
  width: 50%;
  float: right;
  color: rgb(0, 0, 0);

}

.json_preview pre{
  background-color: #ffffff;
  padding: 3%;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 900;
  color: coral;
}


#essential
{
  color: #336cfa
}

#objectName
{
  font-weight: bold;
}